/************************/
/* FOUNDATION OVERRIDES */
/************************/

body, button, .button {
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 100;
}

body {
  font-size: 15px;
}

/* NON MOBILE */
@media only screen and (min-width: 40.063em){
  body {
    font-size: 20px;
  }
}

.row {
  max-width: none;
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #1F5B65;
}

/**********/
/* COMMON */
/**********/

.font-strong {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

h1, h2 {
  color: #027180;
  font-weight: 100;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

/* NON MOBILE */
@media only screen and (min-width: 40.063em){
  h1 {
    font-size: 65px;
  }

  h2 {
    font-size: 40px;
  }  
}

a {
  text-decoration: none;
  color: #027180;
  transition: color 300ms ease-out;
}
.link-cta {
  font-weight: 700;
}
a:hover, a:focus, .link-cta:hover, .link-cta:focus{
  color: #000000;
}

/**********/
/* HEADER */
/**********/

/* NON-RETINA MOBILE */
.hero {
  background:url('../img/bg-small.png') no-repeat center center;
}

/* RETINA MOBILE */
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi){ 
  .hero {
	  background:url('../img/bg-small@2x.png') no-repeat center center;
  }
}

/* NON-RETINA NON-MOBILE */
@media only screen and (min-width: 40.063em) {
  .hero {
  	background:url('../img/bg-large.png') no-repeat center center;
  }
}

/* RETINA OR REALLY WIDE AND NON-MOBILE */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 40.063em), only screen and (min-width: 1400px) { 
  .hero {
	  background:url('../img/bg-large@2x.png') no-repeat center center;
  }
}

.hero .slogan {
  font-size: 45px;
  line-height: 45px;
}

.hero .ingress {
  font-size: 20px;
}

/* NON MOBILE */
@media only screen and (min-width: 40.063em){
  .hero .slogan {
    font-size: 75px;
    line-height: 75px;
  }
  .hero .ingress {
    font-size: 28px;
  }  
}

.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  color: #FFFFFF;
  text-align: center;
}

.slogan {
  font-weight: 100;
  padding-top: 25vh;
  display: block;
  letter-spacing: -2px;
}

.ingress {
  font-size: 28px;
  font-weight: 100;
  margin-top: 40px;
  max-width: 1000px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0px;
}

/* NON-MOBILE MEDIUM HEIGHT */
@media only screen and (min-height: 675px) and (min-width: 40.063em) {
  .hero {
  	height: 95vh;
  }
  .hero .slogan {
	padding-top: 25vh;
  }
}

/* NON-MOBILE LARGE HEIGHT */
@media only screen and (min-height: 750px) and (min-width: 40.063em) {
  .hero .slogan {
	padding-top: 32vh;
  }
}

/*********************/
/* MAIN CONTENT AREA */
/*********************/

.main {
  color: black;
  text-align: center;
  height: auto;
}

.btn-contact {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 28px 50px 28px 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/* NON MOBILE */
@media only screen and (min-width: 40.063em){
  .btn-contact {
    font-size: 20px;
    padding: 28px 70px 28px 70px;
  }
}

.section {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.wrapper-embedded {
  background:url('../img/bg-gray.png') repeat;
}

.embedded {
  margin: 40px 5px 40px 5px;
  background: #FFFFFF;
}

/* NON MOBILE */
@media only screen and (min-width: 40.063em){
  .embedded {
    margin: 40px 40px 40px 40px;
  }
}

.embedded .underline {
  border-bottom: 4px solid #027180;
}

.embedded .description {
  margin-top: 40px;
  margin-bottom: 40px;
}

.embedded h2 {
  display: block;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

/* MOBILE */
.embedded {
  padding: 70px 20px 70px 20px;
}

/* NON-MOBILE */
@media only screen and (min-width: 40.063em) {
  .embedded {
	  padding: 70px 60px 70px 60px;
  }
}

/* SIGN UP */

.section.wrapper-signup {
  background-color: #1C7988;
}

.section.wrapper-signup h2, .wrapper-signup span { 
  color: #FFFFFF;
}

.section.wrapper-signup h2 {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#mc_embed_signup {
  margin-top: 40px;
}

#mc_embed_signup div.mce_inline_error {
  background-color: #1C7988 !important;
  color: #FFFFFF !important;
  font-size: 15px;
  max-width: 300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

#mce-success-response, #mce-error-response {
  color: #FFFFFF !important;  
}

#mc_embed_signup div.mce_inline_error:before, #mce-error-response:before {
  content: '!';
  margin-right: 10px;
  color: #EF3D47;
}

#mc_embed_signup_scroll {
  max-width: 500px;  
}

#mc_embed_signup .mc-field-group #mce-EMAIL {
  padding: 26px 20px 26px 20px;
  border: 0;
  width: 100%;
}

#mc-embedded-subscribe span {
  border-radius: 25px;
}

/* CONTACT */

#contact img {
  width: 250px;
}

#contact-people .columns {
  padding-top: 50px;
  padding-bottom: 20px;
}

#contact-people h2 {
  margin-bottom: 0;
}

#contact-people {
  margin-bottom: 40px;
}

/* NON-MOBILE */
@media only screen and (min-width: 40.063em) {
  #contact-people .columns {
    border-right: 1px solid #40929F;
  }
  #contact-people .columns:last-child {
    border-right: none;    
  }
}

/* SOCIAL MEDIA */

/*
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/
*/
 
 /* This element holds injected scripts inside iframes that in some cases may stretch layouts. So, we're just hiding it. */
#fb-root {
  display: none;
}
 
/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
  max-width: 520px !important;
}

/**********/
/* FOOTER */
/**********/

.footer {
  background-color: #1C7988;
  min-height: 200px;
  color: #FFFFFF;
  font-size: 15px;
}

.footer .address {
  text-align: center;
  margin-top: 40px;
}

.footer .address a {
  color: #FFFFFF;
}
